/venv
/output
/.idea
/__pycache__
**/__pycache__/
gif_generator.py
/pretrained-model/**
/temp

/data/files/imagenet-vgg-verydeep-19.mat
/data/files/encoder_epoch_20.pth
/data/files/decoder_epoch_20.pth

/models/pretrained/imagenet-vgg-verydeep-19.mat
/DeepPhotoStyle_pytorch/seg_checkpoint/decoder_epoch_20.pth
/DeepPhotoStyle_pytorch/seg_checkpoint/encoder_epoch_20.pth

/DeepPhotoStyle_pytorch/__pycache__
/DeepPhotoStyle_pytorch/seg/__pycache__
/DeepPhotoStyle_pytorch/seg/lib/nn/__pycache__
/DeepPhotoStyle_pytorch/seg/lib/nn/modules/__pycache__
/DeepPhotoStyle_pytorch/seg/lib/nn/parallel/__pycache__
/DeepPhotoStyle_pytorch/seg/lib/utils/__pycache__
/DeepPhotoStyle_pytorch/seg/lib/utils/data/__pycache__
/DeepPhotoStyle_pytorch/seg/models/__pycache__
/DeepPhotoStyle_pytorch/*.png
/DeepPhotoStyle_pytorch/*.jpg

/NN_models/__pycache__
/models/__pycache__
config.yml

ansible/vars.yml
ansible/id_ed25519